{% extends "layout.html" %}
{% block content %}

<h2>SKILLS</h2>
{% for j in skills %}
<h3>{{ j.title }}</h3>
<button onclick="window.location.href='{{ url_for('about_task', my_var=j.id ) }}'">open</button>
{% endfor %}

<div>
	<h5>Add a new skill</h5>
    <button  type = "button" class="btn btn-default" onclick="window.location.href='{{ url_for('insert_todo') }}'">ADD </button>   
    <h5>Search for how to master</h5>
    <button  type = "button" class="btn btn-default" onclick="window.location.href='{{ url_for('recm_skill') }}'">SEARCH</button>
</div>
{% endblock content %}
